.custom-sidebar {
    background: #4da9ff;
    min-height: calc(100vh - 66px); 
  color: #1a2536;
}

.sidebar-promo-box {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
}

.custom-filter-radio .form-check-input:checked {
  background-color: #355cc9;
  border-color: #355cc9;
}

.extra-small {
  font-size: 0.75rem;
}